{% extends 'base/base.html'%}

{% block content %}

{% comment %} Recent artical {% endcomment %}
<h3 class="text-uppercase text-waring" style="letter-spacing:2px;">Category - {{ category }} </h3>

  <main role="main" class="container p-0">
    <div class="row">
      <div class="col-md-8 blog-main">

        {% for post in posts %}

        <div class="card border-0" >
          <div class="card-body">
            <h3> <a href = "{% url 'blogs' post.slug %}"> {{ post.title }} <a/> </h3>
            <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | {{ post.author }} </small>
            <p class="card-text">{{ post.short_description | truncatewords:20 }}</p>
          </div>
        </div>

        {% endfor %} 
      </div>
      <!-- /.blog-main -->

      
{% comment %} 
        <div class="p-3">
          <h4 class="font-italic">Follow Us</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ol>
        </div> 
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->{% endcomment %}

  </main><!-- /.container -->

</div>
{% endblock %}